<div align= "center">
	<h1 class= "text">Welcome to <%= @user.first_name %>'s page</h1>
	<ul align= "center" ><%= image_tag(current_user.image.url(:medium))%></ul>
	<h2 class= "text">List of <%= @user.first_name %>'s Articles</h2>
	<%= render "articles/article", obj: @user.articles %>

</div>
