/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
/*
 *= require_tree .
 *= require social-share-button
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

.footer{
	margin-top: 320px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	position: relative;
  
  	height: 180px;
  	clear: both;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul{
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}


.profile{
	border: 0px solid #d9d9d9;
    border-radius: 50px;
    height: 40px;
    width: 45px;
    overflow: hidden;
    text-align: center;
}

.users {
	list-style: none;
	margin: 0;
li {
	overflow: auto;
	padding: 10px 0;
	border-bottom: 1px solid $gray-lighter;
		}
}

#logo {
	float: left;
	font-size: 1.7em;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
}


.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}

.inbox{
	color: #9A9493;
	padding: 15px 0;
}

.article-art{
	font-size: 17px;
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}
.description{
	margin-top: 0;
}
.title{
	margin-top: 0;
	text-align: center;
}
.article-title{
font-weight: bold;
font-size: 1.5em;
}

.article-body{
border-top: 1px solid #eaeaea;
padding-top: 15px;
padding-bottom: 15px;
}
.new_article{
	position:absolute;
    transition: .5s ease;

}

.profile{
	border: 0px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.message{
	border: 0px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 80px;
    width: 80px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}